<div class="entire-screen">
    <div class="container">
        <mat-card class="login-container">
            <a href="/"><img src="logo.png" class="logo-login" /></a>
            <mat-card-title>Welcome Back!</mat-card-title>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="login()">

                    <mat-form-field class="email" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" autocomplete="email">
                        <mat-error
                            *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('required')">
                            Email is required</mat-error>
                        <mat-error
                            *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('email')">
                            Email must be a valid Email</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" autocomplete="current-password">
                        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button" class="eye-button">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error
                            *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')">
                            Password is required</mat-error>
                    </mat-form-field>

                    <mat-error *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</mat-error>

                    <div class="button">
                        <button type="submit" mat-button [disabled]="!loginForm.valid||disableLogin" class="login-button">Login</button>
                    </div>

                    <div class="signup-text">Don't have an account yet? <a [routerLink]="['../register']">Sign Up</a></div>
                </form>
            </mat-card-content>
        </mat-card>
        <img src="yellow-design.png" class="yellow-design" />
        <img src="red-design.png" class="red-design" />
    </div>
</div>